footer(role="footer")
    .container.border-top
        p Current page: 
            code= currentPage
        p Demo site created by 
            a(href="//github.com/ChaoticWeg") ChaoticWeg
            |  (
            a(href="//twitter.com/ChaoticWeg") Shawn Lutch
            | ).