footer(role="footer")
    .container.border-top
        p 
            | Current page: 
            code= currentPage
        p 
            | View the source code for this project 
            a(href="//github.com/ChaoticWeg/do-testapp") here
            | .
            br
            | Demo site created by 
            a(href="//github.com/ChaoticWeg") ChaoticWeg
            |  (
            a(href="//twitter.com/ChaoticWeg") Shawn Lutch
            | ).
            