.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
        
        a.navbar-brand(href="/") Brand
        
        button.navbar-toggler(data-toggle="collapse" data-target="#navbar-contents")
            span.navbar-toggler-icon
        
        .collapse.navbar-collapse#navbar-contents
            ul.navbar-nav.mr-auto
                li.nav-item#nav-table
                    a.nav-link(href="/view/table") Table
                li.nav-item#nav-staff
                    a.nav-link(href="/view/staff") Staff
                li.nav-item#nav-kitchen
                    a.nav-link(href="/view/kitchen") Kitchen
                li.nav-item#nav-manager
                    a.nav-link(href="/view/manager") Manager

                