.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
        
        a.navbar-brand(href="/") Brand
        button.navbar-toggler(data-toggle="collapse" data-target="#navbar-contents")
            span.navbar-toggler-icon
        
        .collapse.navbar-collapse#navbar-contents
            ul.navbar-nav.mr-auto
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#show-views(href="#" role="button" data-toggle="dropdown") Views
                    .dropdown-menu
                        a.dropdown-item(href="/table") Table
                        a.dropdown-item(href="/staff") Staff
                        a.dropdown-item(href="/kitchen") Kitchen
                        a.dropdown-item(href="/manager") Manager
                    