extends /templates/main

block styles
    link(href="/styles/table.css" rel="stylesheet")

block content
    .container#buttons
        .row
            .col-4
            .col-4
                a.btn.btn-primary#btnMenu(href="/view/table/menu") Menu
                a.btn.btn-info.disabled#btnOrder(href="/view/table/order") Order
            .col-4
            