extends /templates/main

block styles
    link(href="/styles/table.css" rel="stylesheet")

block content
    .container#buttons
        .row
            .col-4
            .col-4
                button.btn.btn-primary#btnMenu Menu
                button.btn.btn-info#btnOrder Order
            .col-4
            