extends /templates/main

block styles
    link(href="/styles/menu.css" rel="stylesheet")

block content

    .container#menu-container
        - for (var s in menu) {
            - var section = menu[s]

            .container.border-bottom.menu-section

                h2.display-4= section.name

                .row

                    - for (var i in section.items) {
                        - var item = section.items[i]

                        .col-12.col-md-6
                            .card.menu-item
                                .card-body
                                    h4.card-title= item.name + " "
                                        small.mb-2.text-muted= " - " + item.price.toLocaleString("en-US", { style: "currency", currency: "USD" })
                                    p.card-text= item.description
                        
                    - }

        - }
