extends /templates/main

block styles
    link(href="/styles/menu.css" rel="stylesheet")

block content

    .container#menu-container
        - for (var s in menu) {
            - var section = menu[s]

            h2.display-4= section.name

            - for (var item in section.items) {

                .card.menu-item
                    .card-body
                        h4.card-title= item.name
                        h6.card-subtitle.mb-2.text-muted= item.price
                        p.card-text= item.description
                
            - }

        - }